@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Primary-font: "Nunito", sans-serif;
    --Secondary-font: "Open Sans", sans-serif;

}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    overflow: hidden;
    background-color: white;
}

header img {
    width: 100%;
    height: 50px;
}

header .navmenu {
    display: flex;
    list-style-type: none;
}

.navmenu a {
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
    font-family: var(--Primary-font);
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.navmenu a:hover {
    color: #ff353b;
    transform: scale(1.1);
}

.navicon {
    display: flex;
    align-items: center;
}

.navicon a {
    text-decoration: none;
}

.navicon a i {
    margin-right: 20px;
    font-size: 24px;
    font-weight: 400;
    transition: all .42s ease;
    color: black;
}

.navicon a i:hover {
    transform: scale(1.1);
    color: #ff353b;
}

#menu-icon {
    font-size: 35px;
    cursor: pointer;
    z-index: 1001;
    transition: all 0.42s ease;
}

#menu-icon:hover {
    color: #ff353b;
    transform: scale(1.1);
}

/* Main-home */
.main-home {
    width: 100%;
    height: 100vh;
    padding: 0px 30px;
    /* background-image: url(/Images/bg-image.jpg); */
    background-position: center;
    /* filter: brightness(30%); */
    background-size: cover;
    display: Grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    align-items: center;
}


.main-text h5 {
    color: #ff353b;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px;
    /* text-align: center; */
}
.main-text h6{
    font-size: 13px;
    font-weight: 400;
    font-family: var(--Secondary-font);
    margin: -10px 0px 10px 0px;
}

.main-text h1 {
    font-size: 65px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.1;
    margin: 6px 0px 10px;
    color: black;
    /* text-align: center; */
}

.main-text p {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
    color: black;
    /* text-align: center; */
}

.main-btn {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    border: 1px solid #ff353b;
    padding: 12px 25px;
    transition: all .42s ease;
    text-decoration: none;
    color: #ff353b;
    border-radius: 20px;
}

.main-btn:hover {
    background-color: #ff353b;
    color: white;
    transition: 0.3s ease-in;
}

.main-btn i {
    color: black;
}

.main-home .btn {
    display: flex;
    /* justify-content: center; */
}

.main-home .img img {
    width: 100%;
    height: 600px;
    /* margin-top: 50px; */
}

header.sticky {
    background-color: #fff;
    padding: 0px 0px 10px rgb(0 0 0 / 10%);
}

/* Product Section */
.trending-product {
    padding: 50px 30px;
}

.center-text span {
    color: green;
}

.center-text h2 {
    font-size: 36px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 10px;
}

.center-text p {
    text-align: center;
    margin-bottom: 20px;
}

.product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 1rem;
    /* padding: 0px 30px; */
}

.row {
    position: relative;
    transition: all 0.40s;
}

.row img {
    width: 100%;
    height: auto;
    transition: all 0.40s ease;
}

.row img:hover {
    transform: scale(0.97);
}

.product-text {
    position: absolute;
    top: 13px;
    left: 13px;
    color: white;
    background-color: green;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 3px 10px;
    border-radius: 2px;
}

.heart-icon {
    position: absolute;
    right: 0;
    font-size: 20px;
    margin: 10px 0px 5px 0px;
}

.heart-icon:hover {
    color: brown;
}

.ratting {
    color: orange;
    font-size: 18px;
    margin: 10px 0px 5px 0px;
}

.price h4 {
    margin: 0px 0px 5px 0px;
    font-family: var(--Primary-font);
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
}


/* Client Reviews Sections */
.client-reviews {
    background-color: #f3f4f6;
    padding: 50px 30px;
    display: flex;
    justify-content: center;
}

.reviews {
    text-align: center;
    width: 80%;
}

.reviews h3 {
    font-size: 36px;
    margin-bottom: 15px;
    font-family: var(--Primary-font);
}

.reviews img {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.reviews p {
    text-align: center;
    font-weight: 400;
    margin: 10px 0px;
    font-size: 14px;
    line-height: 21px;
    font-family: var(--Secondary-font);
}

.reviews h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 500px;
    font-family: var(--Primary-font);
}

.reviews .degination {
    font-family: var(--Secondary-font);
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
}